
<body>

  <div class="materialContainer">
    <div class="box">
      <div style="overflow: auto; height: 100%;">
      <div class="title">REGISTER</div>

      <div class="input">
        <input type="text" name="email" id="remail" placeholder="Email" [(ngModel)]="ruser.email">
      </div>

      <div class="input">
        <input type="password" name="password" id="rpassword" placeholder="Password" [(ngModel)]="ruser.password">
      </div>

      <div class="input">
        <input type="password" name="cpassword" id="cpassword" placeholder="Repeat Password" [(ngModel)]="ruser.cpassword">
      </div>

      <div class="input">
        <input type="text" name="first_name" id="first_name" placeholder="First Name" [(ngModel)]="ruser.first_name">
      </div>

      <div class="input">
        <input type="text" name="last_name" id="last_name" placeholder="Last Name" [(ngModel)]="ruser.last_name" >
      </div>
      <div class="button login">
        <button (click)="handleSignUp()">
          <span>NEXT</span>
        </button>
      </div>
      <div class="button login">
        <button (click)="goSignIn()">
          <span>SignIN</span>
        </button>
      </div>
    </div>
    </div>

  </div>
</body>