
<body>

  <div class="materialContainer">


    <div class="box">

      <div class="title">LOGIN</div>

      <div class="input">
        <input type="text" name="email" id="email" placeholder="Username" [(ngModel)]="user.email">
      </div>

      <div class="input">
        <input type="password" name="password" id="password" placeholder="Password" [(ngModel)]="user.password">
      </div>
      <div style="text-align: center">
      <div class="button login">
        <button (click)="handleSignIn()">
          <span>Login</span>
          <i class="fa fa-check"></i>
        </button>
      </div>

      <div class="button login">
        <button (click)="goSignUp()">
          <span>SignUp</span>
        </button>
      </div>
    </div>
    </div>
  </div>
</body>